*
!App_Resources
!App_Resources/**/*
!app
!app/**/*
!types
!types/**/*
!.editorconfig
!.gitignore
!babel.config.cjs
!content-tag-loader.js
!fix-glimmer-content-owner.js
!glimmer-env.js
!nativescript.config.ts
!package.json
!package-lock.json
!README.md
!references.d.ts
!tsconfig.json
!webpack.config.js
