*
!App_Resources
!App_Resources/**/*
!app
!app/**/*
!types
!types/**/*
!.editorconfig
!.github
!.github/**/*
!tests
!tests/**/*
!.gitignore
!babel.config.cjs
!content-tag-loader.js
!fix-glimmer-content-owner.js
!glimmer-env.js
!nativescript.config.ts
!package.json
!package-lock.json
!README.md
!references.d.ts
!tsconfig.json
!webpack.config.js
!karma.conf.js
!tsconfig.spec.json
!config.js
!pnpm-lock.yaml
!.npmrc
!unit-test-patch-files
!unit-test-patch-files/*
!eslint.config.mjs
!patches/
!patches/*
!sample-data
!sample-data/*
!AGENTS.md
